* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 60px;
    
}

main {
    width: 500px;
    grid-area: 2 / 2 / 5 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header {
    grid-area: 1 / 1 / 2 / 6;
}
footer {
    grid-area: 5 / 1 / 6 / 6;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
}

footer > h5 {
    margin-top: 30px;
}

footer > h5 > a {
    color: rgb(0, 0, 0);
    transition: .2s;
}
footer > h5 > a:hover {
    color: rgb(74, 255, 231);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inptgGroup {
    width: 500px;
    height: 30vh;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inptgGroup > p {
    padding: 30px;
    font-size: 12px;
    text-align: center;
}

.inputForm {
    width: 20rem;
    height: 2rem;
    
    padding-left: 20px;
    outline: none;
    
    border-radius: 3px;
    border: 1px solid #ddd;

    margin-bottom: 20px;
    margin-top: 20px;

}

#buttonSend {
    width: 7rem;
    height: 2rem;

    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.divInfos {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.dts {
    grid-area: 2 / 4 / 5 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.dts.show {
    visibility: hidden;
}

.divInfos > span{
    padding: 30px;
    
}

.spn{
    display: flex;
    align-items: center;
    color: #000;
    font-size: large;
    
}
.infoc {
    margin-right: 5px;
    padding: 6px;
    background-color: rgba(74, 255, 231, 0.322);
    border-radius: 3px;
    
}

.divh3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.list {
    display: flex;
    list-style: none;
}

.list > a {
    padding: 12px;
    text-decoration: none;
    color: #000;
    transition: .2s;
}

.list > a:hover {
    transform: translateY(-5px);
    color: rgb(74, 255, 231);
}

.spnLogo {
    color: rgb(74, 255, 231);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.welcome > p {
    text-rendering: optimizeLegibility;
    padding: 30px;
}

.divInfos.dotted {
    border: 1px dotted #ddd;
}

.dataInfo {
    margin-bottom: 20px;
    text-align: center;
}